.main-wrapper {
  width: 100%;
  height: 100vh;
  display: block;
}

.container {
  width: 100%;
  display: block;

  @include mq(lg) {
    margin: 0 auto;
    width: 1120px;
  }
}

.row {
  padding: 10px;
  display: block;
}
