.recent-wrapper {
  .winners,
  .runner-up {
    padding: $space 0 $space--8;
    text-align: center;
    text-transform: uppercase;
  }

  .winners {
    font-size: $font-size--28;

    @include mq(md) {
      font-size: $font-size--48;
    }

    @include mq(xl) {
      font-size: $font-size--56;
    }
  }

  .runner-up {
    font-size: $font-size--24;

    @include mq(md) {
      font-size: $font-size--36;
    }

    @include mq(xl) {
      font-size: $font-size--48;
    }
  }

  .winner-trophy,
  .runner-up-trophy {
    margin: 0 10px;
  }

  .winner-trophy {
    color: $color-trophy;
  }

  .runner-up-trophy {
    color: $color-trophy--silver;
  }

  .winner-category {
    display: block;
    font-size: $font-size-base;
  }

  .score-card-list-title {
    padding: $space;

    &.runner-up-title {
      padding-top: $space--12;
    }
  }
}
