.winner-card-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.winner-card-wrapper {
  padding: $space;

  @include mq(lg) {
    padding: $space--2;
  }

  @include mq(xl) {
    padding: $space--4;
  }
}

.winner-card {
  align-items: center;
  background-color: $color-white;
  border-radius: $space;
  color: $color-body;
  display: flex;
  flex-direction: column;
  padding: $space;

  @include mq(lg) {
    padding: $space--2;
  }

  @include mq(xl) {
    padding: $space--4;
  }

  .winner-card-category-name {
    font-size: $font-size--12;
    padding: $space;
  }

  .winner-card-name {
    font-size: $font-size--24;
    padding: $space--2;
    text-transform: capitalize;
  }

  .winner-card-participant-logo-wrapper {
    padding: $space;
    position: relative;

    &.team-winner {
      .winner-card-medal {
        color: $color-trophy;
      }
    }

    .winner-card-medal {
      bottom: $space--2;
      color: $color-trophy--silver;
      font-size: $font-size--22;
      position: absolute;
      right: 0;

      @include mq(lg) {
        font-size: $font-size--28;
      }
    }

    .participant-logo-wrapper {
      &:not(:first-child) {
        margin-left: -$space--2;

        @include mq(xl) {
          margin-left: -$space--4;
        }
      }

      .participant-logo {
        flex-direction: row;
        font-size: $profile-logo-width--large;
        height: $profile-logo-width--large;
        width: $profile-logo-width--large;

        @include mq(xl) {
          font-size: $profile-logo-width--large-desktop;
          height: $profile-logo-width--large-desktop;
          width: $profile-logo-width--large-desktop;
        }
      }
    }
  }
}
