// Variables
// ==========================================================================

$font-family-primary: 'Titillium Web', sans-serif;

// Colors
$color-text: #fff;
$color-black: #000;
$color-body: #18084d;
$color-link: #0645ad;
$color-white: #fff;
$color-red: #d24d57;
$color-green: #00d166;
$color-trophy: #ffc82c;
$color-trophy--silver: #c0c0c0;
$color-score-result: #8c269f;
$color-link--active: #70c5f9;
$color-text--score-card: #717171;
$color-content: linear-gradient(135deg, #481faa 0%, #18084d 100%); //

// Typography
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size--12: 12px;
$font-size--14: 14px;
$font-size--16: 16px;
$font-size--18: 18px;
$font-size--22: 22px;
$font-size--24: 24px;
$font-size--28: 28px;
$font-size--36: 36px;
$font-size--48: 48px;
$font-size--56: 56px;

// Sidebar
$sidebar-width--mobile: 260px;
$sidebar-width--desktop: 300px;
$font-size--sidebar-menu: 20px;
$font-size--sidebar-submenu: 18px;

// Top navbar
$top-navbar-height: 64px;

// Sub header
$sub-header-border-color: rgba(112, 197, 249, 0.6);

// Spacing
$space: 4px;
$space--2: 2 * $space;
$space--3: 3 * $space;
$space--4: 4 * $space;
$space--6: 6 * $space;
$space--8: 8 * $space;
$space--9: 9 * $space;
$space--12: 12 * $space;

// Participant Logo
$profile-logo-width: 28px;
$profile-logo-width--small: $font-size--18;
$profile-logo-width--medium: $font-size--48;
$profile-logo-width--large: 100px;
$profile-logo-width--large-desktop: 150px;

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;
