// Variables
// ==========================================================================

$font-family-primary: 'Montserrat', sans-serif;
$color-body: #FAFAFA;
$color-text: #4F4F4F;
$color-link: #0645AD;
$color-title: #737373;
$color-background-header: #E0E0E0;
$color-background-sub-header1: #EEEEEE;
$color-background-sub-header2: #F5F5F5;

// Typography
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

// Colors
$red: #D24D57;
$gray: #C7C7C7;
$blue: #3A539B;
$white: #FFFFFF;
$black: #000000;
$green: #36D7B7;
$yellow: #F7CA18;

// Header and Footer
$color-nav-link: #2ECC71;

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;
