.card {
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  box-shadow: $card-shadow;
  display: inline-block;
}

.date-time-container {
  width: $date-time-width;
  height: $date-time-height;
  background-color: $date-time-background-color;
  text-align: center;
  font-size: $date-time-font-size;
  line-height: $date-time-line-height;
  padding: $date-time-vertical-padding 0;
  border-radius: $card-border-radius $card-border-radius;
  font-family: $date-time-font-family;

  .day {
    @extend %inline-after;
    font-weight: 700;
    color: #737373;
  }

  .time {
    @extend %inline-after;
    font-weight: 500;
    color: #828282;
  }
}

.player {
  border-top: $player-border-width solid #E8E8E8;    
  width: $player-width;
  height: $player-height;
  font-family: $player-font-family;
  font-weight: $player-font-weight;
  font-size: $player-font-size;
  color: $player-color;
  line-height: $player-line-height;

  .photo-container-small {
    float: left;
    margin: $photo-container-vertical-margin 0 $photo-container-vertical-margin $photo-container-left-margin;
  }
  
  .player-name {
    padding: $player-name-vertical-padding 0px;
    width: $player-name-width;
    float: right;
  }
}

.player-left {
  @include player-side(left);
}

.player-right {
  @include player-side(right);
}

.photo-container-small {
  @include photo-container(small);
}

.photo-container-medium {
  @include photo-container(medium);
}

.photo-container-large {
  @include photo-container(large);
}
