.dates-container {
    text-align: center;
    font-family: "Montserrat";
    padding: 20px 0px;
}

.dates {
    color: #2ECC71;
    font-style: "semi-bold";
    font-size: 36px;
    line-height: 35px;
}
