.dates-container {
    padding: 20px 0px;
    text-align: center;
    font-family: "Montserrat";
}

.dates {
    font-size: 36px;
    color: #2ECC71;
    line-height: 35px;
    font-style: "semi-bold";
}
