.fixture-container {
    width: 508px;
    position: relative;
    padding: 40px 0px;
}

.player-mirror {
  @extend %content-right;
  .player-image-container{
    right: 0px;
  }
  .player-name-container{
    text-align: left;
  }
}