.header-main-container {
    @extend %header-container;
}

.header-content-container {
    @extend %header-container-content;
}

.logo-container {
    @extend %logo;
    float: left;
    padding: 10px;
    border-right: 2px;
    border-right-color: $logo-text-separation-border-color;
    border-right-style: $logo-text-separation-border-style;
}

.tournament-description-container {
    float: left;
    line-height: $header-line-height;
    font-size: $header-font-size;
    color: $header-color;
    width: $header-width;
    padding: $header-padding;
}
