.login-outer-container {
  @extend %container;
  @extend %vertical-center-outer;
  margin: 0 auto; 
}

.login-inner-container {
  @extend %vertical-center-inner;
  @extend %center-text-content;
}

.login-header {
  @extend %login-container-content;
  margin-bottom: 52px;
  height: 82px;

  a {
    img{
      display: inline-block;
      margin: auto;
      width: 272px;
      height: 100%;
    }
  }
}

.login-form {
  @extend %login-container-content;

  .input-group {
    border: $input-border;
    border-radius: $login-border-radius;
    border-color: $input-border-color;
    padding: 1px;

    input {
      @extend %login-form-elements;
      width: $input-width;
      display: inline-block;
      font-size: $input-font-size;
      font-family: $login-font-family;
      font-weight: $login-font-weight;
      line-height: $input-line-height;
      padding: $input-padding;

      &[type="email"] {
        border-bottom: $input-border;      
      }
      
      &::placeholder {
        color: $input-place-holder-color;
      }
    }
  }
  button {
    @extend %login-form-elements;
    @extend %center-text-content;
    width: $button-width;
    background-color: $submit-button-color;
    color: $white;
    font-family: $login-font-family;
    font-weight: $login-font-weight;
    font-size: $button-font-size;
    line-height: $button-line-height;
    margin-top: 26px;
    padding: $button-padding;
    border-radius: $login-border-radius;
  }
}
