.login-outer-container {
  @extend %container;
  @extend %vertical-center-outer;

  margin: 0 auto;
}

.login-inner-container {
  @extend %center-text-content;
  @extend %vertical-center-inner;
}

.login-header {
  @extend %login-container-content;

  height: 82px;
  margin-bottom: 52px;

  a {
    img{
      margin: auto;
      width: 272px;
      height: 100%;
      display: inline-block;
    }
  }
}

.login-form {
  @extend %login-container-content;

  .input-group {
    padding: 1px;
    border: $input-border;
    border-color: $input-border-color;
    border-radius: $login-border-radius;

    input {
      @extend %login-form-elements;

      width: $input-width;
      display: inline-block;
      padding: $input-padding;
      font-size: $input-font-size;
      font-family: $login-font-family;
      font-weight: $login-font-weight;
      line-height: $input-line-height;

      &[type="email"] {
        border-bottom: $input-border;
      }

      &::placeholder {
        color: $input-place-holder-color;
      }
    }
  }
  button {
    @extend %login-form-elements;
    @extend %center-text-content;

    color: $white;
    margin-top: 26px;
    width: $button-width;
    padding: $button-padding;
    font-size: $button-font-size;
    font-family: $login-font-family;
    font-weight: $login-font-weight;
    line-height: $button-line-height;
    border-radius: $login-border-radius;
    background-color: $submit-button-color;
  }
}

.login-error {
  color: $red;
}
