.main-container {
  @extend %container;
}

.login-outer-container {
  @extend %container;  
  margin: 0 auto;
  display: table;
  position: absolute; 
}

.login-inner-container {
  @extend %center-content;
  @extend %container;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.login-header {
  @extend %login-container-content;
  margin-bottom: 52px;
  height: 82px;
  a {
    img{
      display: inline-block;
      margin: auto;
      width: 272px;
      height: 100%;
    }
  }
}

.login-form {
  @extend %login-container-content;
  .input-group {
    border: $input-border;
    border-radius: $login-border-radius;
    border-color: $input-border-color;
    // height: 124px;
    padding: 1px;
    input {
      @extend %login-form-elements;
      width: $input-width;
      // height: 50%;
      display: inline-block;
      font-size: $input-font-size;
      font-family: $login-font-family;
      font-weight: $login-font-weight;
      line-height: $input-line-height;
      padding: $input-padding;
      &[type="email"] {
        border-bottom: $input-border;      
      }
      &::placeholder {
        color: $input-place-holder-color;
      }
    }
  }
  button {
    @extend %login-form-elements;
    @extend %center-content;
    width: $button-width;
    background-color: $submit-button-color;
    color: $white;
    font-family: $login-font-family;
    font-weight: $login-font-weight;
    font-size: $button-font-size;
    line-height: $button-line-height;
    margin-top: 26px;
    padding: $button-padding;
    border-radius: $login-border-radius;
    // height: 66px;
  }
}
