.player-main-container{
  width: 244px;
  position: relative;
  // float: left;
}

.player-image-container {
  position: absolute;
  z-index: 1;
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
  }
}

.player-name-container {
  height: 40px;
  width: 200px;
  background: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
  padding: 6px;
  margin: 5px 0px;
  font-family: "Montserrat";
  font-weight: "semi-bold";
  text-align: right;
  position: absolute;
  float: right;
  left: 22px;
}
