// import site font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

// lgoin page config

//Login form
$login-border-radius: 3px;
$login-font-family: "Montserrat";
$login-font-weight: 600;

//Form inputs
$input-width: 100%;
$input-font-size: 18px;
$input-line-height: 22px;
$input-border-width: 1px;
$input-padding: 14px 20px;
$input-border-color: #E0E0E0;
$input-place-holder-color: #E0E0E0;
$input-border-style: solid;
$input-border: $input-border-width $input-border-style $input-border-color;

//Form button
$button-width: 100%;
$button-font-size: 24px;
$button-line-height: 29px;
$button-padding: 10px 0;
$submit-button-color: #2ECC71;

// tournament card config
$card-width: 228px;
$card-height: 178px;
$card-border-radius: 3px;
$card-background-color: #FBFBFB;
$card-shadow: 0px, 16px, 26px, rgba(0, 0, 0, 0.1);

$date-time-width: 100%;
$date-time-height: 38px;
$date-time-background-color: #FBFBFB;
$date-time-font-family: "Montserrat";
$date-time-font-size: 16px;
$date-time-line-height: 20px;
$date-time-vertical-padding: ($date-time-height - $date-time-line-height) / 2;

$player-width: 100%;
$player-border-width: 1px;
$player-height: (($card-height - $date-time-height) / 2) - $player-border-width;
$player-font-family: "Montserrat";
$player-font-weight: 400;
$player-font-size: 18px;
$player-line-height: 22px;
$player-color: #333333;

$photo-container-width: 50px;
$photo-container-height: 50px;
$photo-container-vertical-margin: ($player-height - $photo-container-height) / 2;
$photo-container-left-margin: -($photo-container-width / 2);
$photo-container-background-color: $white;

$player-name-width: 186px;
$player-name-vertical-padding: ($player-height - $player-line-height) / 2;
