@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

//Login form
$login-border-radius: 3px;
$login-font-family: "Montserrat";
$login-font-weight: "semi-bold";

//Form inputs
$input-width: 100%;
$input-font-size: 18px;
$input-line-height: 22px;
$input-border-width: 1px;
$input-padding: 14px 20px;
$input-border-color: #E0E0E0;
$input-place-holder-color: #E0E0E0;
$input-border-style: solid;
$input-border: $input-border-width $input-border-style $input-border-color;

//Form button
$button-width: 100%;
$button-font-size: 24px;
$button-line-height: 29px;
$button-padding: 10px 0;
$submit-button-color: #2ECC71;

//Logo
$logo-text-separation-border-color: #E5E5E5;
$logo-text-separation-border-style: solid;

//Header
$header-line-height: 27px;
$header-font-size: 22px;
$header-color: #737373;
$header-width: 100px;
$header-padding: 10px;

//placeholder classes
%center-content {
  text-align: center;
}

%container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

%login-container-content {
  width: 425px;
  margin: 0 auto;
}

%login-form-elements {
  outline: none;
  border: none;
}

%header-container {
  margin: 0 auto; // text-align: center;
  width: 100%;
  height: 100%;
}

%logo {
  display: inline-block;
  margin: auto;
  width: 272px;
  height: 100%;
}

%header-container-content {
  width: 500px;
  margin: 0 auto;
}

%content-left {
  float: left;
}

%content-right {
  float: right;
}