.time-container {
    position: absolute;
    left: 222px;
    height: 40px;
    width: 66px;
    margin: 5px 0px;
    background-color: #FBFBFB;
    font-family: "Montserrat";
    font-weight: "bold";
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}
