.title-container {
    text-align: center;
    font-family: "Montserrat";
}

.title {
    padding: 20px 0px;
    color: #4F4F4F;
    font-style: "regular";
    font-size: 39px;
    line-height: 38px;
}
