.tree-outer-container {
  background-color: $tree-background-color;
  width: $tree-outer-width;
  height: $tree-outer-height;
  padding: $tree-outer-padding-top $tree-outer-padding-right $tree-outer-padding-bottom $tree-outer-padding-left;
  margin: 0 auto;
}

.tree-inner-container {
  width: $tree-inner-width;
  height: $tree-inner-height;
  & > div:not(.playoff-container) {
    margin-left: $tree-inner-child-left-margin;
  }
}

.layer-header-container {
  @extend %center-all-content;
  font-family: $tree-font-family;
  background: $tree-background-color;
  width: 100%;
  height: $layer-header-height;
  position: relative;
  .layer-header-upper {
    width: 1260px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    height: 50%;
  }
  .layer-title {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    margin: 0 auto;
    font-size: $layer-title-font-size;
    line-height: $layer-title-line-height;
    font-weight: $Regular;
    color: #828282;
    background-color: inherit;
    height: 100%;
    padding: $layer-title-vertical-padding $layer-title-horizontal-padding;
  }
}

.winner-container {
  @extend %center-all-content;
  width: 100%;
  height: $winner-container-height;
  padding-top: 58px;
  padding-bottom: 66px;
  text-align: center;
  font-family: $tree-font-family;
  .winner-name {
    margin-top: 14px;
    font-size: 30px;
    line-height: 36px;
    font-weight: $Bold;
    color: #333333;
    text-align: center;
  }
  .winner-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: $Regular;
    color: #333333;
    text-align: center;
  }
}

.final-container {
  @extend %center-all-content;
  height: $final-container-height;
  .layer-header-container {
    margin-bottom: 46px;
  }
  padding-bottom: 44px;
}

.semi-final-container {
  @extend %center-all-content;
  height: $semi-final-container-height;
  .card {
    margin: 0 40px;
  }
  .layer-header-container {
    margin-bottom: 26px;
  }
  padding-bottom: 56px;
}

.quarter-final-container {
  @extend %center-all-content;
  height: $quarter-final-container-height;
  .card {
    margin: 0 40px;
  }
  .layer-header-container {
    margin-bottom: 42px;
  }
  padding-bottom: 56px;
}

.round-of-sixteen-container {
  @extend %center-all-content;
  height: $round-of-sixteen-container-height;
  .card {
    margin: 0 40px;
    margin-bottom: 38px;
  }
  .layer-header-container {
    margin-bottom: 42px;
  }
  padding-bottom: 18px;
}

.playoff-container {
  @extend %center-all-content;
  height: $playoff-container-height;
  .layer-header-container {
    margin-bottom: 12px;
  }
}

.playoff-row {
  width: 100%;
  margin-left: 0;
  margin-top: 36px;
  div:first-child{
    div:first-child {
      margin-left: 0;
    }
  }
  div:last-child{
    div:last-child {
      margin-right: 0;
    }
  }
  .playoff-pair {
    // width: 205px;
    display: inline-block;
    .photo-container-medium {
      @extend %inline-after;
      display: inline-block;
      margin: 0 18px;
    }
  }
}
