.user-left-container {
    @extend %content-left;
    width: 550px;
}

.user-top-left-container {
    margin: 40px 0px;
}

.user-right-container {
    @extend %content-right;
    padding: 20px;
    width: 550px;
}
