.user-main-container {
  padding: 30px;
}

.user-left-container {
  @extend %content-left;
  width: 550px;
}

.user-top-left-container {
  margin: 40px 0px;
}

.user-right-container {
  @extend %content-right;
  width: 550px;
  padding: 20px;
}

@media only screen and (min-width: 1367px) {
  .user-main-container {
    width: 1800px;
    margin: 0px auto;
  }

  .user-left-container {
    width: 750px;
    margin-right: 100px;
  }

  .user-top-left-container {
    margin-bottom: 80px;
  }

  .user-right-container {
    width: 750px;
  }
}
