.logo-wrapper {
  width: 140px;
  margin: 0 auto;

  img {
    width: 100%;
    display: block;
  }

  @include mq(md) {
    margin: 0;
    float: left;
  }
}

.sub-header {
  border-bottom: 1px solid $color-green;
}

.nav {
  list-style-type: none;

  @include m(primary) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: $color-background-header;
    border-color: rgba(128, 128, 128, 0.2);
    border-width: 1px 0 1px 0;
    border-style: solid;
    z-index: 100;

    @include mq(md) {
      float: right;
      position: initial;
      border: 0;
    }

    li {
      float: left;
      width: 25%;

      @include mq(md) {
        width: auto;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        display: block;
        text-align: center;
        padding: 15px 20px;
        color: $color-nav-link-text;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;

        @include mq(lg) {
          padding: 10px 8px;
          border: 0;
        }

        &.active,
        &:hover {
          color: $color-nav-link;
          font-weight: bold;
          border-color: $color-nav-link;
          transition: all 0.15s ease-in;
        }
      }
    }
  }

  @include m(secondary) {
    li {
      width: 20%;
      float: left;

      a {
        display: block;
        padding: 10px 5px;
        font-size: $font-size-small;
        text-align: center;
        color: $color-text;

        &.active,
        &:hover {
          font-weight: bold;
          border-bottom: 2px solid $color-nav-link-secondary;
          color: $color-nav-link-secondary;
          background-color: $color-background-sub-header2;
        }

        @include mq(md) {
          font-size: $font-size-medium;
        }
      }
    }
  }

  @include e(link-text) {
    display: none;

    @include mq(lg) {
      display: inline-block;
      margin-left: 8px;
      font-size: $font-size-base;
    }
  }
}
