.sub-header {
  background-color: $color-background-sub-header2;

  ul {
    display: block;
    text-align: center;

    li {
      float: left;
      display: inline-block;

      a {
        display: block;
        padding: 10px 5px;
        color: $color-nav-link;
        font-size: $font-size-h5;

        &.active, &:hover {
          color: $white;
          background-color: $color-nav-link;
        }

        @include mq($md-device) {
          font-size: $font-size-h4;
        }
      }
    }
  }

  &.futsal {
    nav {
      ul {
        li {
          width: 20%;
        }
      }
    }
  }
}
