.futsal {
  .nav--secondary {
    li {
      width: 16.66%;
    }
  }

  .points-table {
    @include mq(md) {
      .point-rank {
        width: 30px;
      }

      .point-stat {
        min-width: 60px;
      }
    }

    .point-rank {
      text-align: right;
      width: 20px;
    }

    .point-stat {
      min-width: 20px;
      text-align: right;
    }
  }
}
