.futsal {
  .nav--secondary {
    li {
      width: 16.66%;
    }
  }

  .team-name {
    text-transform: uppercase !important;
  }

  .points-table {
    .point-rank {
      width: 20px;
      text-align: right;
    }

    .point-stat {
      min-width: 20px;
      text-align: right;
    }
  }

  @include mq(md) {
    .points-table {
      .point-rank {
        width: 30px;
      }

      .point-stat {
        min-width: 60px;
      }
    }
  }
}
