/* Score card */
$score-card-height: 80px;

.score-card-wrapper {
  .score-card {
    background: $white;
    border-radius: 3px;
    box-shadow: 0 10px 25px $color-grey-cool-2;
    color: $color-text-darker;
    display: block;
    font-size: $font-size-base;
    font-weight: 400;
    margin: 10px 0;
    max-width: 100%;
    transition: 0.25s;

    &:hover {
      box-shadow: 0 18px 24px $color-grey-cool-2;
      position: relative;
    }

    &:first-child {
      margin-top: 0;
    }

    .score-brief {
      display: table;
      table-layout: fixed;
      width: 100%;

      .team-info,
      .score {
        display: table-cell;
        padding: 5px;
        vertical-align: middle;
      }

      .home-team {
        text-align: right;
      }

      .away-team {
        text-align: left;
      }

      .winner {
        font-weight: 400;

        .team-name {
          font-weight: 500;
        }
      }

      .team-info {
        width: 50%;

        .team-name-wrapper {
          display: inline-block;
          padding: 0 10px;

          .team-name {
            font-size: $font-size-medium;
            text-transform: capitalize;

            @include mq(md) {
              font-size: $font-size-large;
            }

            .participant-image-wrapper {
              display: none;

              @include mq(md) {
                display: inline-block;
              }
            }
          }
        }
      }

      .score {
        background: $color-background-gray;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        color: $color-text-darker;
        font-size: $font-size--xxlarge;
        text-align: center;
        width: 120px;

        @include mq(md) {
          font-size: $font-size--xxxlarge;
          width: 180px;
        }

        .result {
          font-weight: 300;

          p {
            font-size: $font-size-base;

            &.game-date,
            &.game-round {
              color: $color-grey;
            }

            &.game-time {
              font-size: $font-size--xlarge;
            }

            &.game-round {
              text-transform: capitalize;
            }
          }

          .versus {
            display: block;
          }

          .result-dash {
            color: $gray;
            padding: 0 5px;

            @include mq(md) {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
