/* Score card */
$score-card-height: 80px;

.score-card-wrapper {
  .score-card {
    background: $white;
    border-radius: 3px;
    box-shadow: 0 10px 25px $color-grey-cool-2;
    color: $color-text-darker;
    display: block;
    font-size: $font-size-base;
    margin: 8px 0;
    max-width: 100%;
    transition: 0.25s;

    &:hover {
      box-shadow: 0 18px 24px $color-grey-cool-2;
      position: relative;
    }

    .score-brief {
      display: table;
      width: 100%;

      .team-info,
      .score {
        display: table-cell;
        padding: 20px 0;
        vertical-align: middle;

        @include mq(md) {
          padding: 15px 0;
        }
      }

      .home-team {
        .team-name-wrapper {
          text-align: right;
        }
      }

      .away-team {
        .team-name-wrapper {
          text-align: left;
        }
      }

      .team-info {
        width: 35%;

        @include mq(md) {
          width: 40%;
        }

        .team-name-wrapper {
          display: block;
          padding: 0 10px;

          .team-name {
            font-size: $font-size-small;
            font-weight: normal;
            text-transform: capitalize;

            @include mq(md) {
              font-size: $font-size-medium;
            }

            .participant-logo-wrapper {
              display: none;

              @include mq(md) {
                display: inline-block;
              }
            }
          }
        }

        &.winner {
          .team-name {
            font-weight: bold;
          }
        }
      }

      .score {
        background: $color-background-gray;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        color: $color-text-darker;
        font-size: $font-size--xlarge;
        font-weight: normal;
        text-align: center;
        width: 30%;

        @include mq(md) {
          width: 20%;
        }

        .result {
          @include mq(md) {
            font-size: $font-size--xxxlarge;
            font-weight: lighter;
          }

          .versus {
            display: block;
            font-size: $font-size-h4;

            p {
              font-size: $font-size-base;
              font-weight: normal;
              line-height: $score-card-height / 3;

              &.game-date,
              &.game-round {
                color: $color-grey;
              }

              &.game-time {
                font-size: $font-size--xlarge;
              }

              &.game-round {
                text-transform: capitalize;
              }
            }
          }

          .result-dash {
            color: $gray;
            padding: 0 5px;

            @include mq(md) {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
