/* Score card */
$score-card-height: 80px;

.score-card-wrapper {
  .score-card {
    max-width: 100%;
    margin: 8px 0;
    transition: 0.25s;
    background: $white;
    display: block;
    color: $color-text-darker;
    font-size: $font-size-base;
    line-height: $score-card-height;
    border-radius: 3px;
    box-shadow: 0 10px 25px $color-grey-cool-2;

    &:hover {
      position: relative;
      box-shadow: 0 18px 24px $color-grey-cool-2;
    }

    .score-brief {
      display: table;
      width: 100%;

      .team-info,
      .score {
        float: left;
        display: table-cell;
      }

      .home-team {
        .team-name-wrapper {
          text-align: right;
        }
      }

      .away-team {
        .team-name-wrapper {
          text-align: left;
        }

        .participant-logo-wrapper {
          float: left;
        }
      }

      .team-info {
        width: 40%;

        .team-name-wrapper {
          display: block;
          padding: 0 10px;

          .team-name {
            font-size: $font-size-medium;
            font-weight: normal;
            text-transform: uppercase;
          }
        }

        &.winner {
          .team-name {
            font-weight: bold;
          }
        }
      }

      .score {
        width: 20%;
        text-align: center;
        font-weight: normal;

        .result {
          font-size: $font-size--xxlarge;
          font-weight: lighter;
          color: $color-text-darker;
          background: $color-background-gray;
          border-left: 1px solid $color-border;
          border-right: 1px solid $color-border;

          .versus {
            display: block;
            font-size: $font-size-h4;

            p {
              font-size: $font-size-base;
              line-height: $score-card-height / 3;

              &.game-time {
                font-weight: normal;
                font-size: $font-size--xlarge;
              }

              &.game-round {
                text-transform: capitalize;
              }
            }
          }

          .result-dash {
            padding: 0 10px;
            color: $gray;
          }
        }
      }
    }
  }
}
