.App {
  color: #66BBA4;
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
