.alert {
  border: 1px solid $color-border;
  border-radius: 5px;
  color: $color-text-dark;
  font-size: $font-size-medium;
  margin: 5px 0;
  padding: 10px;

  &.alert-error {
    border-color: $red;
    color: $red;
  }

  &.alert-success {
    border-color: $green;
    color: $green;
  }
}
