.categories-filter-wrapper {
  display: block;
  padding: 5px 0;
  text-align: center;
  width: 100%;

  ul {
    li {
      border: 1px solid $color-blue;
      border-radius: 20px;
      color: $color-blue;
      display: inline-block;
      margin: 2px;
      padding: 5px 10px;

      &:hover {
        cursor: pointer;
      }

      &:hover,
      &.active {
        background-color: $color-blue;
        color: $white;
      }
    }
  }
}
