#app {
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}

.content-wrapper {
  background: $color-content;

  @include mq(md) {
    width: calc(100% - #{$sidebar-width--desktop});
  }
}
