#app {
  height: 100%;
}

.main-wrapper {
  background: $color-content;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  width: 100%;

  @include mq(md) {
    flex-direction: row;
  }
}

.content-wrapper {
  height: 100%;
  padding-bottom: $space--6;

  @include mq(md) {
    margin-left: $sidebar-width--desktop;
    width: calc(100% - #{$sidebar-width--desktop});
  }
}
