$futsal-activity-row-spacing: 10px;

.futsal-score-details-wrapper {
  position: relative;

  .futsal-score-details {
    position: relative;
    z-index: 1;

    .activity-row {
      background: transparent !important;

      .activity-home-team,
      .activity-away-team,
      .activity-score-time {
        border: 0;
        box-sizing: border-box;
        padding: $futsal-activity-row-spacing 5px;
      }

      .activity-score-time {
        text-align: center;
      }

      .activity-home-team {
        text-align: right;
      }

      .activity-away-team {
        text-align: left;
      }

      .activity-home-team,
      .activity-away-team {
        width: 45%;
      }

      .futsal-activitivist-wrapper {
        .activity-symbol-wrapper {
          display: inline-block;

          .activity-symbol {
            display: inline-block;
            margin: 0 2px;
            padding: 1px;
            width: 16px;
          }
        }
      }

      .activity-score-time-wrapper {
        background-color: $color-grey-cool;
        border: 1px solid $color-grey-cool;
        border-radius: 50%;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
        width: 36px;
        z-index: 1;

        @include mq(md) {
          height: 48px;
          line-height: 48px;
          width: 48px;
        }
      }
    }
  }

  .activity-score-time-line {
    border: 1px solid $color-grey-cool;
    height: calc(100% - 2 *#{$futsal-activity-row-spacing});
    left: 50%;
    position: absolute;
    right: 50%;
    top: $futsal-activity-row-spacing;
    z-index: 0;
  }
}
