$futsal-activity-row-spacing: 10px;
$futsal-activity-score-time-width: 48px;
$futsal-activity-score-time-width--mobile: 36px;

.futsal-score-details-wrapper {
  position: relative;

  .futsal-score-details {
    box-shadow: none;
    font-weight: 500;
    position: relative;
    table-layout: fixed;
    z-index: 1;

    .activity-row {
      background: transparent !important;

      .activity-home-team,
      .activity-away-team,
      .activity-score-time {
        border: 0;
        box-sizing: border-box;
        padding: $futsal-activity-row-spacing 2px;
      }

      .activity-score-time {
        text-align: center;
        width: calc(#{$futsal-activity-score-time-width--mobile} + 4px);

        @include mq(md) {
          width: calc(#{$futsal-activity-score-time-width} + 4px);
        }
      }

      .activity-home-team {
        text-align: right;
      }

      .activity-away-team {
        text-align: left;
      }

      .activity-home-team,
      .activity-away-team {
        width: 50%;
      }

      .futsal-activitivist-wrapper {
        overflow: hidden;

        .activity-symbol-wrapper {
          display: inline-block;

          .activity-symbol {
            display: inline-block;
            margin: 0 2px;
            padding: 1px;
            width: 16px;
          }
        }

        .activitist-name {
          display: inline-block;
          white-space: nowrap;
          width: calc(100% - 22px);
        }
      }

      .activity-score-time-wrapper {
        background-color: $color-grey-cool;
        border: 1px solid $color-grey-cool;
        border-radius: 50%;
        display: inline-block;
        height: $futsal-activity-score-time-width--mobile;
        line-height: $futsal-activity-score-time-width--mobile;
        text-align: center;
        vertical-align: middle;
        width: $futsal-activity-score-time-width--mobile;
        z-index: 1;

        @include mq(md) {
          height: $futsal-activity-score-time-width;
          line-height: $futsal-activity-score-time-width;
          width: $futsal-activity-score-time-width;
        }
      }
    }
  }

  .activity-score-time-line {
    border: 1px solid $color-grey-cool;
    height: calc(100% - 2 *#{$futsal-activity-row-spacing});
    left: 50%;
    position: absolute;
    right: 50%;
    top: $futsal-activity-row-spacing;
    z-index: 0;
  }
}
