.home-wrapper {
  padding: $space--4 0;
  width: 100%;
}

.home-title,
.home-sub-title {
  color: $color-green;
  text-align: center;
}

.home-title {
  font-size: $font-size--28;
  padding: $space--2 0;
}

.home-sub-title {
  font-size: $font-size--22;
  padding: $space--2 0;
}

.home-content-wrapper {
  padding: $space--3 0;
}

.recent-tournaments-wrapper {
  margin-bottom: $space--2;
  padding: 0 $space--4;

  @include mq(lg) {
    padding: 0 $space--2;
  }

  .recent-tournaments-content {
    background-color: $color-white;
    border-radius: $space;
    color: $color-body;
    padding: $space--2;

    @include themify($themes) {
      color: theme-property(color-body);
    }
  }

  .recent-tournament {
    align-items: center;
    border-bottom: 1px solid rgba($color-black, 0.1);
    display: flex;
    flex-direction: row;
    font-size: $font-size--18;
    padding: $space--4 $space--2;
    width: 100%;

    @include m(--info) {
      display: flex;
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: $color-body;
      color: $color-white;
      cursor: pointer;

      @include themify($themes) {
        background-color: theme-property(color-body);
      }
    }
  }

  .rt-icon {
    font-size: $font-size--20;
    width: $space--9;
  }

  .recent-days-to-go {
    font-size: $font-size--14;
    font-style: italic;
    font-weight: 300;

    @include m(date) {
      font-weight: 600;
    }
  }
}
