#root {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    width: 100%;
    display: block;
    padding-bottom: 58px;

    @include mq(md) {
        padding-bottom: 0;
    }
}

.row {
    padding: 10px;
    display: block;
}
  