.modal-wrapper {
  background: rgba($black, 0.8);
  display: block;
  font-size: $font-size-base;
  font-weight: normal;
  height: 100%;
  left: auto;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 0.25s;
  width: 100%;
  z-index: 999;

  .modal {
    background: $white;
    color: $color-text-dark;
    display: inline-block;
    font-weight: 500;
    margin: 20px 0;
    position: relative;

    .modal-close {
      background: transparent;
      border-radius: 0;
      color: $red;
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 32px;

      @include mq(md) {
        background: $red;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        right: -16px;
        top: -16px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .modal-row {
      display: table;
      line-height: 16px;
      width: 100%;
    }

    .modal-title {
      background: none;
      background-color: #f3f3f3;
      border-bottom: 1px solid $color-light-grey;
      font-size: $font-size-h5;
      padding: 5px 5px 20px;
      text-transform: capitalize;

      @include mq(md) {
        font-size: $font-size-h4;
      }

      @include mq(xl) {
        font-size: $font-size-h4;
      }
    }

    .modal-body {
      font-size: $font-size-small;
      padding: 0;

      .modal-row {
        padding: 10px 0;
      }
    }

    .modal-half-time {
      display: block;
      font-size: 11px;
    }

    .scorer-name {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }

    .team-logo-wrapper {
      display: inline-block;
    }

    .modal-team-name {
      padding: 2px;
    }

    .modal-fixture-date {
      font-size: $font-size-small;
      padding: 5px 36px 20px;
      text-align: center;
      text-transform: capitalize;

      @include mq(md) {
        font-size: $font-size-base;
      }

      .comma {
        display: none;

        @include mq(md) {
          display: inline;
        }
      }

      .fixture-date {
        display: block;

        @include mq(md) {
          display: inline;
        }
      }
    }

    .winner-team {
      font-weight: bold;
    }

    .score-wrapper {
      background: transparent;
      box-shadow: none;
      display: table;
      padding: 0 5px;
      table-layout: fixed;
      width: 100%;

      .team,
      .score {
        display: table-cell;
        float: none;
        padding: 5px 0;
        text-align: center;
        vertical-align: middle;
        width: 50%;
      }

      .score {
        font-size: $font-size--xlarge;
        padding-top: 25px;
        vertical-align: unset;
        width: 100px;

        @include mq(md) {
          font-size: $font-size--xxlarge;
          width: 150px;
        }
      }

      .team {
        padding-left: 2px;
        padding-right: 2px;

        .team-name {
          padding: 10px 0;
          text-align: center;
        }

        .participant-image {
          font-size: $font-size--xlarge;
          height: $font-size--xxxlarge;
          line-height: $font-size--xxxlarge;
          margin: 0;
          width: $font-size--xxxlarge;

          @include mq(lg) {
            font-size: $font-size--xxlarge;
            height: $font-size--xxxxlarge;
            line-height: $font-size--xxxxlarge;
            margin: 0;
            width: $font-size--xxxxlarge;
          }
        }
      }

      .team-grouped {
        .participant-image-wrapper {
          &:not(:first-child) {
            margin-left: -5px;
          }
        }
      }
    }
  }
}
