.modal-wrapper {
  background: rgba($black, 0.5);
  display: block;
  font-size: $font-size-base;
  font-weight: normal;
  height: 100%;
  left: auto;
  margin: 0 auto;
  overflow-y: scroll;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 0.25s;
  width: 100%;
  z-index: 999;

  .modal {
    background: $white;
    border-radius: 4px;
    color: $color-text-dark;
    display: inline-block;
    left: 50%;
    margin: 20px 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    @include mq(md) {
      width: 80%;

      .modal-title {
        font-size: $font-size-h4;

        .col-3 {
          font-size: $font-size-h3;
        }
      }

      table {
        font-size: $font-size-base;
      }
    }

    @include mq(lg) {
      width: 60%;
    }

    @include mq(xl) {
      width: 55%;

      .modal-title {
        font-size: $font-size-h4;

        .col-3 {
          font-size: $font-size-h1;
        }
      }
    }

    .modal-close {
      background: $red;
      border-radius: 50%;
      color: $white;
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;

      &:hover {
        cursor: pointer;
      }
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
      display: table-cell;
      line-height: 18px;
      padding: 10px;
      vertical-align: middle;
    }

    .col-1,
    .col-5 {
      width: 10%;
    }

    .col-2,
    .col-4 {
      width: 30%;
    }

    .col-3 {
      background: rgba(232, 232, 232, 0.6);
      font-weight: 400;
      text-align: center;
      width: 20%;
    }

    .col-2 {
      text-align: right;
    }

    .col-4 {
      text-align: left;
    }

    .modal-row {
      display: table;
      font-weight: normal;
      line-height: 16px;
      width: 100%;
    }

    .modal-title {
      background: none;
      background-color: #f3f3f3;
      border-bottom: 1px solid $color-light-grey;
      font-size: $font-size-h5;
      padding: 25px;
      text-transform: uppercase;

      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5 {
        display: inline-block;
      }

      .col-3 {
        background: none;
        font-size: $font-size-h4;
        width: 20%;
      }

      .col-1,
      .col-5 {
        padding: 0;
        width: 0;
      }

      .col-2,
      .col-4 {
        background: none;
        width: 40%;
      }
    }

    .modal-body {
      font-size: $font-size-small;
      padding: 0;

      .modal-row {
        padding: 10px 0;
      }
    }

    .modal-half-time {
      display: block;
      font-size: 11px;
    }

    .scorer-name {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }

    .team-logo-wrapper {
      display: inline-block;
    }

    .modal-team-name {
      padding: 2px;
    }

    .modal-fixture-date {
      font-size: $font-size-base;
      padding: 10px 10px 20px;
      text-align: center;
      text-transform: capitalize;
    }

    table {
      background: transparent;
      box-shadow: none;
      font-size: $font-size-small;
      width: 100%;

      tr {
        th,
        td {
          border: 1px solid $color-light-grey;
          padding: 14px;
          text-transform: capitalize;

          &.activity-points {
            max-width: 20px;
            min-width: 10px;
            text-align: center;

            &.total-points {
              max-width: none;
              min-width: 20px;
            }

            &.winner-team {
              font-weight: bold;
            }
          }
        }

        &:nth-child(even) {
          background-color: $color-background-main-wrapper;
        }
      }
    }
  }
}
