.name-card {
  background: $black;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: $font-size-medium;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;

  @include m(red) {
    background: $theme-red;
  }

  @include m(blue) {
    background: $theme-blue;
  }
}
