.participant-image-wrapper {
  display: inline-block;
  text-align: center;

  .participant-image {
    margin: 0 8px 0 0;
    font-weight: normal;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: $white;
    border-radius: 50%;
    display: inline-block;
    background-color: $color-green;
  }
}
