.participant-image-wrapper {
  display: inline-block;
  text-align: center;

  .participant-image {
    margin: 0 8px;
    font-weight: normal;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: $white;
    border-radius: 50%;
    display: inline-block;
    background-color: $color-green;
  }
}

.participant-logo-wrapper {
  display: inline-block;
}

.team-grouped {
  .participant-logo-wrapper {
    .participant-image-wrapper {
      .participant-image {
        margin: 0;
      }

      &:not(:first-child) {
        margin-left: -20px;
      }
    }
  }
}
