.recent-wrapper {
  .score-card-wrapper {
    .score-card {
      margin: 0 0 3px;
    }
  }
}

.fixture-title {
  color: $color-green;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 30px 0 10px;
}

.winners,
.runner-up {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.winners {
  font-size: 48px;
}

.runner-up {
  font-size: 36px;
}

.winner-trophy,
.runner-up-trophy {
  margin: 0 10px;
}

.winner-trophy {
  color: $gold;
}

.runner-up-trophy {
  color: $silver;
}
