.recent-wrapper {
  .score-card-wrapper {
    .score-card {
      margin: 0 0 3px;
    }
  }
}

.fixture-title {
  color: $color-green;
  font-size: $font-size-large;
  font-weight: normal;
  padding: 10px 0;
  text-align: center;

  @include mq(md) {
    padding: 30px 0 10px;
  }
}

.winners,
.runner-up {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.winners {
  font-size: $font-size--xlarge;

  @include mq(md) {
    font-size: $font-size--xxxlarge;
  }

  @include mq(xl) {
    font-size: $font-size--xxxxlarge;
  }
}

.runner-up {
  font-size: $font-size-large;

  @include mq(md) {
    font-size: $font-size--xlarge;
  }

  @include mq(xl) {
    font-size: $font-size--xxlarge;
  }
}

.winner-trophy,
.runner-up-trophy {
  margin: 0 10px;
}

.winner-trophy {
  color: $gold;
}

.runner-up-trophy {
  color: $silver;
}
