.teams-filter-wrapper,
.rounds-filter-wrapper {
  align-items: center;
  display: flex;
  padding: $space--2 $space--4;
  width: 100%;

  @include mq(md) {
    padding: $space--2;
    width: auto;
  }

  .teams-filter,
  .rounds-filter {
    background: $color-white;
    border-radius: $space;
    color: $color-text--score-card;
    font-size: $font-size--16;
    width: 100%;

    @include mq(md) {
      width: 180px;
    }
  }

  .teams-filter {
    @include mq(md) {
      width: 200px;
    }
  }
}
