.rounds-filter-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  padding: $space--4 0;
  width: 100%;

  .rounds-filter {
    align-items: center;
    background-color: $color-body;
    border-radius: 50%;
    display: inline-flex;
    font-size: $font-size--14;
    height: $space--8;
    justify-content: center;
    margin: 0 $space;
    padding: $space--2;
    text-align: center;
    width: $space--8;

    @include mq(md) {
      font-size: $font-size--16;
      height: $space--12;
      margin: 0 $space--2;
      padding: $space--3;
      width: $space--12;
    }

    &.active,
    &:hover {
      background-color: $color-link--active;
      cursor: pointer;
    }
  }
}
