.rounds-filter-wrapper {
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  ul {
    li {
      background-color: $white;
      border: 1px solid $white;
      border-radius: 20px;
      color: $color-blue;
      display: inline-block;
      margin: 0 3px;
      padding: 5px 10px;

      &:hover,
      &.active {
        color: $color-blue;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-color: $color-blue;
        font-weight: 700;
      }

      .rounds-filter-label {
        display: inline-block;

        @include mq(md) {
          display: none;
        }

        @include m(desktop) {
          display: none;

          @include mq(md) {
            display: inline-block;
          }
        }
      }
    }
  }
}
