.score-card-list-title {
  align-items: center;
  color: $color-green;
  display: flex;
  font-size: $font-size--22;
  justify-content: center;
  padding: $space--2;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @include themify($themes) {
    color: theme-property(color-theme);
  }
}

.score-card-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .alert {
    margin: $space--2 $space--4;
    width: 100%;

    @include mq(md) {
      margin: $space--2;
    }
  }
}

.score-card-wrapper {
  display: block;
  padding: $space--2 $space--4;
  width: 100%;

  @include mq(lg) {
    padding: $space--2;
  }

  .score-card {
    align-items: center;
    background-color: $color-white;
    border-radius: $space--2;
    box-shadow: 0 $space--2 $space--4 0 rgba($color-black, 0.2);
    color: $color-text--score-card;
    display: flex;
    flex-flow: row nowrap;
    font-size: $font-size--18;
    height: 100%;
    justify-content: center;
    padding: $space;
    transition: all 0.25s linear;

    @include m(desktop) {
      display: none;

      @include mq(md) {
        display: flex;
        width: 100%;

        .team-wrapper,
        .score-wrapper,
        .other-info-wrapper {
          align-items: center;
          display: flex;
          height: 100%;
          padding: $space $space--2;
        }

        .team-wrapper {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          flex-wrap: nowrap;
          font-size: $font-size--20;
          justify-content: flex-start;
          text-transform: capitalize;

          @include m(home) {
            justify-content: left;

            .fixture-team-name {
              text-align: right;
            }
          }

          @include m(away) {
            justify-content: right;

            .fixture-team-name {
              text-align: left;
            }
          }

          .fixture-team-name {
            flex-grow: 1;
          }

          .fixture-team-logo {
            flex-grow: 0;
          }
        }

        .score-wrapper {
          color: $color-score-result;
          font-size: $font-size--36;
          font-weight: 600;
          justify-content: center;
          text-transform: uppercase;
          width: 150px;

          @include themify($themes) {
            color: theme-property(color-score-result);
          }

          @include m(versus) {
            color: rgba($color-score-result, 0.75);
            font-weight: 300;

            @include themify($themes) {
              color: theme-property(color-score-result);
            }
          }

          @include m(cancelled) {
            color: rgba($color-score-result, 0.75);
            font-size: $font-size--16;
            font-weight: 300;

            @include themify($themes) {
              color: theme-property(color-score-result);
            }
          }

          @include e(home) {
            flex-grow: 1;
            text-align: right;
            width: 50%;
          }

          @include e(away) {
            flex-grow: 1;
            text-align: left;
            width: 50%;
          }

          @include e(dot) {
            padding: 0 $space--2;
            text-align: center;
          }
        }

        .other-info-wrapper {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: $font-size--14;
          justify-content: center;
          text-align: center;
          text-transform: uppercase;
          width: 120px;

          @include m(left) {
            border-right: 1px solid rgba($color-text--score-card, 0.25);
          }

          @include m(right) {
            border-left: 1px solid rgba($color-text--score-card, 0.25);
          }

          @include e(day) {
            font-weight: 600;
            width: 100%;
          }

          @include e(date) {
            width: 100%;
          }

          @include e(time) {
            font-weight: 600;
            width: 100%;
          }

          @include e(round) {
            width: 100%;
          }

          @include e(category) {
            font-weight: 600;
            width: 100%;
          }

          @include e(match) {
            font-size: $font-size--12;
            width: 100%;
          }
        }
      }
    }

    @include m(mobile) {
      flex-direction: column;
      font-size: $font-size--18;
      padding: $space--3;

      @include mq(md) {
        display: none;
      }

      .fixture-team-name-wrapper {
        align-items: center;
        display: flex;
        flex: 1;
        padding: $space;
        width: 100%;

        &.winner {
          .fixture-team-symbol {
            margin-left: -2px;
          }

          .participant-logo {
            border: 2px solid $color-trophy;
            box-sizing: content-box;
          }
        }

        .fixture-team-symbol {
          display: flex;
        }

        .participant-logo {
          height: $profile-logo-width;
          width: $profile-logo-width;
        }

        .fixture-team-name {
          flex: 1;
          padding: $space--2;
          text-transform: capitalize;
        }

        .fixture-team-score {
          align-items: center;
          color: $color-score-result;
          display: flex;
          font-size: $font-size--22;
          font-weight: 700;

          @include themify($themes) {
            color: theme-property(color-score-result);
          }

          .fa-trophy {
            color: $color-trophy;
            font-size: $font-size--16;
            padding: 0 $space;
          }
        }
      }

      .fixture-details {
        display: flex;
        flex-flow: row nowrap;
        font-size: $font-size--14;
        padding: $space;
        width: 100%;

        .fixture-details-date {
          flex-grow: 1;
          max-width: 155px;
          min-width: 160px;
          text-align: right;
        }

        .fixture-details-round {
          flex-grow: 1;
          font-weight: 600;
          text-align: left;
        }
      }
    }

    @include m(cancelled) {
      background-color: rgba($color-white, 0.8);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
