.search-bar-wrapper {
  display: block;
  float: none;
  padding: 5px 0;

  @include mq(md) {
    display: inline-block;
  }

  .search-bar {
    background: $white;
    border: 1px solid $color-border;
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
    font-size: $font-size-base;
    outline: none;
    padding: 10px;
    width: 100%;

    @include mq(md) {
      display: inline-block;
      font-size: $font-size-medium;
    }

    &:focus {
      border-color: $color-lighter-grey;
    }
  }
}
