.stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;

  @include mq(md) {
    flex-direction: row;
  }

  .stats-col {
    background-color: $color-white;
    color: $color-text--score-card;
    font-size: $font-size--16;
    margin-bottom: $space--2;
    width: 100%;

    @include mq(md) {
      font-size: $font-size--18;
      margin: 0 $space--2 $space--2;
    }

    .stats-title {
      align-items: center;
      background: rgba($color-black, 0.1);
      display: flex;
      padding: $space;

      @include mq(md) {
        padding: $space--2;
      }
    }

    .stat-image-logo {
      height: $space--8;
      margin-right: $space--2;
      width: $space--8;
    }
  }
}
