.stats-wrapper {
  text-align: center;

  .stats-col {
    background: $white;
    box-shadow: 0 10px 25px $color-grey-cool-2;
    color: $color-grey;
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    width: 100%;

    @include mq(md) {
      margin: 10px;
      padding: 10px;
      width: 500px;
    }

    .stats-title {
      border-bottom: 3px solid $color-border;
      font-size: $font-size-medium;
      padding: 5px;

      @include mq(md) {
        font-size: $font-size-large;
        padding: 10px;
      }

      .stat-image-logo {
        padding: 0 8px 0 0;
        width: 32px;
      }
    }

    ul {
      font-size: $font-size-base;
      list-style: none;

      @include mq(md) {
        font-size: $font-size-base;
      }

      li {
        padding: 10px;

        .stat-player-name,
        .stat-player-stat {
          display: inline-block;
        }

        .stat-player-name {
          text-align: left;
          width: 80%;
        }

        .stat-player-stat {
          text-align: right;
          width: 20%;
        }

        &:last-child {
          border-bottom: 0;
        }

        &:nth-child(even) {
          background-color: $color-background-main-wrapper;
        }
      }
    }
  }
}
