table {
  width: 100%;
  background-color: $white;
  font-size: $font-size-small;
  border-collapse: collapse;
  box-shadow: 0 10px 25px $color-grey-cool-2;

  th,
  td {
    padding: 10px 5px;
    text-align: left;
  }

  thead {
    color: $white;
    text-align: left;
    background-color: $color-blue;

    th {
      font-weight: bold;
    }
  }

  &.table-border {
    th,
    td {
      border: 1px solid $color-border;
    }
  }

  &.table-striped {
    tr {
      &:nth-child(even) {
        background-color: $color-background-main-wrapper;
      }
    }
  }

  @include mq(md) {
    font-size: $font-size-medium;

    th,
    td {
      padding: 10px;
    }
  }
}

.hide-on-small-screen {
  display: none;

  @include mq(md) {
    display: table-cell;
  }
}
