.tournament-title-wrapper {
  background-color: $white;
  padding: 5px 0;
}

.tournament-image {
  border-right: 2px solid rgba(128, 128, 128, 0.2);
  display: inline-block;
  width: 100px;

  @include mq(lg) {
    width: 125px;
  }
}

.tournament-title {
  color: $color-blue;
  font-size: $font-size--title;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;

  @include mq(lg) {
    font-size: $font-size-h3;
  }
}
