.tournament-title-wrapper {
  padding: 5px 0;
}

.tournament-image,
.tournament-title {
  padding: 10px 10px;
}

.tournament-image {
  width: 100px;
  display: inline-block;
  border-right: 2px solid rgba(128, 128, 128, 0.2);

  @include mq(lg) {
    width: 125px;
  }
}

.tournament-title {
  font-weight: 700;
  text-align: center;
  font-size: $font-size--title;
  text-transform: uppercase;
  color: $color-title;

  @include mq(lg) {
    font-size: $font-size-h3;
  }
}
