// ==========================================================================
// Helpers
// Helpers classes such as object classes used for floating an element left and right,
// text alignments etc. are included here.
// Simple helper classes are generally referred using class selectors and their css properties
// will have an !important property attached to it, so that a helper class cannot be overwritten.
// Placeholders can also be included in the helper partial for these purposes.
// ==========================================================================


//vertical centering helpers

%vertical-center-outer {
  display: table;
  position: absolute;
}

%vertical-center-inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

%round-element {
  border-radius: 50%;
}

%inline-after {
  &::after {// override global clearfix
      display: inline;
  }
}

%center-text-content {
  text-align: center;
}

%center-all-content {
  * {
    margin: 0 auto;
    text-align: center;
  }
}

%container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

// login page helpers
%login-container-content {
  width: 425px;
  margin: 0 auto;
}

%login-form-elements {
  border: none;
  outline: none;
}
