// ==========================================================================
// Utilities
// Define functions and mixins at this partial.
// ==========================================================================

// general mixins
@mixin transform($transformations: none) {
  transform: $transformations;
  -o-transform: $transformations;
  -ms-transform: $transformations;
  -moz-transform: $transformations;
  -webkit-transform: $transformations;
}

// tournament card utilities
@mixin player-side($side: left) {
  width: 50%;
  float: $side;

  .photo-container {
    float: $side;
  }

  p {
    @if $side==left {
      float: right;      
    } @else {
      float: left;
    }
  }
}

@mixin photo-container($size: small) {
  @extend %round-element;

  @if $size == large {
    padding: 2px;  
    width: $photo-container-large-width;
  } @else if $size == medium {
    padding: 2px;
    width: $photo-container-medium-width;
  } @else {
    padding: 2px;
    width: $photo-container-small-width;
  }

  text-align: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  background: $photo-container-background-color;
  
  img {
    @extend %round-element;
    
    margin: auto;
    display: inline-block;
  }
}
