// ==========================================================================
// Utilities
// Define functions and mixins at this partial.
// ==========================================================================
// general mixins
@mixin transform($transformations: none) {
    -webkit-transform: $transformations;
    -moz-transform: $transformations;
    -o-transform: $transformations;
    -ms-transform: $transformations;
    transform: $transformations;
}

// tournament card utilities
@mixin player-side($side: left) {
    float: $side;
    width: 50%;
    .photo-container {
        float: $side;
    }
    p {
        @if $side==left {
            float: right;
        }
        @else {
            float: left;
        }
    }
}

@mixin photo-container($size: small) {
    @extend %round-element;
    @if $size==large {
        width: $photo-container-large-width;
        padding: 2px;
    }
    @else if $size==medium {
        width: $photo-container-medium-width;
        padding: 2px;
    }
    @else {
        width: $photo-container-small-width;
        padding: 2px;
    }
    text-align: center;
    background: $photo-container-background-color;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    img {
        @extend %round-element;
        display: inline-block;
        margin: auto;
    }
}
