.time-container {
  width: 66px;
  left: 222px;
  height: 40px;
  padding: 10px;
  margin: 5px 0px;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  font-weight: "bold";
  font-family: "Montserrat";
  background-color: #FBFBFB;
}

@media only screen and (min-width: 1367px) {
  .time-container {
    left: 320px;
    height: 60px;
    width: 120px;
    padding: 20px;
    margin: 12px 0px;
  }
}

